.spinnerContainer {
  display: flex;
  width: 100%;
  height: 100%;
  color: white;
  z-index: 9999;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.spinnerContainer i {
  align-self: center;
}
