.mapContainer {
  margin: 15px;
  display: flex;
  height: inherit;
  position: relative;
  background-color: #599dd9;
}

.informationContainer {
  position: absolute;
  padding-left: 15px;
}

.informationContainer * {
  color: white;
}
